build/*
.vscode
.idea
/repository/datasets
repository/CMakeFiles
*.txt
*.a
/repository/src/example
repository/src/experiments
repository/Makefile
repository/cmake_install.cmake

repository/src/cmake_install.cmake
repository/src/Makefile
repository/src/CMakeFiles
